.bar {
  width: 98%;
  margin: 2px;
}

.date {
  margin: 0 5px;
}

.header-with-bar {
  padding: 8px 16px;
  background: #32353e;
  margin: 16px 0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  width: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.location {
  font-size: xx-large;
}

.name-date {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.real-time {
  border: solid 1px rgba(43, 46, 53, 255);
  color: #fdfefe;
  border-radius: 4px;
  background-color: #32343f;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  height: 20px;
  margin-top: 10px;
}

.dot {
  height: 8px;
  width: 5px;
  background-color: #f49c08;
  border-radius: 50%;
  display: inline-flex;
  margin: 2px;
  animation: blink 8s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

.dot--delayed {
  animation: blink 2s infinite 4s;
}
.dot--delayed {
  animation-name: blink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

@keyframes choppy-blink {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media (prefers-reduced-motion: reduce) {
  .dot {
    animation: linear;
  }
}
