body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #101012;
}
.App {
  width: 960px;
  margin: 0 auto;
}
.bar {
  width: 98%;
  margin: 5px;
}

.card {
  padding: 8px 16px;
  background: #5c5d61;
  margin: 16px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header-with-bar {
  padding: 8px 16px;
  background: #32353e;
  margin: 16px 0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  width: auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card h3 {
  margin: 10px 0;
  color: #fdfefe;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h3 {
  margin: 10px 0;
  color: #fdfefe;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
.w-icon {
  height: 50px;
  width: 60px;
  margin-right: 2px;
  justify-self: center;
}
.img-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 8px;
  justify-content: flex-end;
  align-items: center;
  font-size: small;
}
.day-celcius {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  font-synthesis: weight;
  font-size: larger;
}
.real-time {
  border: solid 1px rgba(43, 46, 53, 255);
  color: #fdfefe;
  border-radius: 4px;
  background-color: #32343f;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 300px;
}

.dot {
  height: 8px;
  width: 5px;
  background-color: #f49c08;
  border-radius: 50%;
  display: inline-flex;
  margin: 2px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

.dot {
  animation: blink 4s infinite;
}
.dot--delayed {
  animation: blink 2s infinite 4s;
}
.dot--delayed {
  animation-name: blink;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

@keyframes choppyBlink {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@media (prefers-reduced-motion: reduce) {
  .dot {
    animation: linear;
  }
}
