body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #101012;
}
.App {
  width: 960px;
  margin: 0 auto;
}

.card {
  padding: 8px 16px;
  background: #5c5d61;
  margin: 16px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.card h3 {
  margin: 10px 0;
  color: #fdfefe;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
  margin: 10px 0;
  color: #fdfefe;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
.w-icon {
  height: 50px;
  width: 60px;
  margin-right: 2px;
  justify-self: center;
}
.img-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 8px;
  justify-content: center;
  align-items: center;
  font-size: small;
}
.day-celcius {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  font-synthesis: weight;
  font-size: larger;
}
