body {
  margin: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
  background-color: #101012;
}

@import '../src/components/App/App.css';
@import '../src/components/DayWeather/DayWeather.css';
@import '../src/components/Header/Header.css';
@import '../src/components/Today/Today.css';
@import '../src/components/App/App.css';
